.contact-slider {
    height: 360px;
    background-color: #f5f5f5;
    position: relative;
}

.contact-slider-text {
    margin-top: 155px;
}

.contact-topic-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 250;
    text-align: left;
}

.contact-main-content {
    height: 492px;
    padding-top: 71px;
}

.contact-adress {
    list-style-type: none;
}


.adress-list {
    outline: 1px solid #9c9c9c;
    text-align: center;
}

.adress-img {
    margin-bottom: 30px;
    margin-top: 48px;
}

.adress-topic14 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
}

.adress-text-info {
    color: #212121;
    font-weight: 700;
    margin-bottom: 10px;
}

.adress-text-contant{
    color: #6c6c6c;
    font-weight: 600;
}